<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thermlabs.djoro.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="com.thermlabs.djoro.app.DjoroApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_app_djoro"
        android:label="@string/app_name"
        android:theme="@style/DjoroTheme" >
        <activity
            android:name="com.thermlabs.djoro.app.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.thermlabs.djoro.app.SigninActivity"
            android:label="@string/title_activity_signin" >
        </activity>
        <activity
            android:name="com.thermlabs.djoro.app.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.octo.android.robospice.JacksonGoogleHttpClientSpiceService"
            android:exported="false" />

    </application>

</manifest>
